@media only screen and (max-width: 575px) {
    .reset-margin {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .carousel-indicators {
        margin-bottom: 0 !important;
        li {
            width: 10px !important;
            height: 2px !important;
        }
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 10px !important;
        height: 10px !important;
    }
}
