header {
    background: #f8f9fa;
}

.navbar {
    .navbar-brand {
        .bx {
            font-size: 30px;
        }
    }
}

.bx-search {
    font-size: 20px;
    margin: 6px 1px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;
    .nav-link {
        font-size: 13px;
        padding: 0.5rem 0.5rem;
        &:hover {
            color: #ced4da;
            border-radius: 50%;
            color: #111;
        }
    }
    .shop-bag {
        padding: 0.5rem 0.7rem;
        .bx-shopping-bag {
            font-size: 20px;
        }
        &:hover {
            background: #e5e5e5;
        }
    }
}

.border-r {
    border-radius: 50px !important;
}

.border-c {
    border-radius: 50% !important;
}

.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}

.r-0 {
    right: 0;
}

.btn-light {
    background-color: #dae0e5;
    &:hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
}

.search-input {
    &:focus {
        outline: none;
        border-color: #ced4da;
        box-shadow: none;
    }
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
